img {
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    height: 300px;
    background-color: white;
}

figcaption {
    font-size: 2.5rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    margin: 5px auto;
}

.PokemonCardFigure {
    border: 2px solid rgb(255, 255, 255);
    border-radius: 20px;
    width: 400px;
    height: 550px;
    padding-top: 50px;
    background-color: rgb(74, 74, 74);
    box-shadow: 4px -6px 18px 0px #000000;
}

p {
    font-size: 5rem;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
    color: #000000;
    margin: 0 auto;
    border: solid rgb(0, 0, 0) 2px;
    border-radius: 10px;
    height: 300px;
    background-color: rgb(255, 255, 255);
    width: 300px;

}
